.blackbg {
  background-color: #000000; /* Black background color */
}
/*NAVLOGO*/

/*NAVLOGO*/

/* Hero*/

/* 1, White BG Fuerte in Stars */
@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}

svg rect {
  fill: white;
}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
/* 1, White BG Fuerte in Stars */

/* 2, star BG Fuerte in White */
.video-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1.ct {
  font-family: "Exo", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 9em;
}

p.ct {
  font-size: 3em;
}

@media (max-width: 768px) {
  h1.ct {
    font-family: "Exo", sans-serif;
    font-weight: 700; /* Bold */
    font-size: 4.2em;
    padding-right: 0;
    padding-left: 0;
  }

  p.ct {
    font-size: 1.5em;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
/* 2, star BG Fuerte in White */

/*Hero */

/*VIDEOS*/
.videos {
  background-color: black;
}

.VidQuestion {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}

@media (max-width: 768px) {
  .VidQuestion {
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 180%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*VIDEOS*/

/* Offer */
.Offer {
  background-color: black;
}

.OfferQuestion {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}

@media (max-width: 768px) {
  .OfferQuestion {
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 180%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

#offeriframeid {
  width: 100%;
  height: 60%;
  border: none;
}

/* Offer */


/*Team*/
.Team {
  background-color: black;
}
.TeamHead {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}
/*Team*/


/*Future*/
.Future {
  background-color: black;
}
.FutureTitle {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}
/*Future*/


/*Contact*/
.Contact {
  background-color: black;
}
.ContactTitle {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}
/*Contact*/
