.blackbg {
  background-color: #000000; /* Black background color */
}
/*NAVLOGO*/

/*NAVLOGO*/

/* Hero*/

/* 1, White BG Fuerte in Stars */
@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}

svg rect {
  fill: white;
}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
/* 1, White BG Fuerte in Stars */

/* 2, star BG Fuerte in White */
.video-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1.ct {
  font-family: "Exo", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 9em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-shadow: -0.024em 0 0 #f22613, 0.024em 0 0 #00ffff;
}

p.ct {
  font-size: 2.5em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1.ct {
    font-family: "Exo", sans-serif;
    font-weight: 700; /* Bold */
    font-size: 4.2em;
    padding-right: 0;
    padding-left: 0;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-shadow: -0.033em 0 0 #f22613, 0.033em 0 0 #00ffff;
  }

  p.ct {
    font-size: 1.5em;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
/* 2, star BG Fuerte in White */

/*Hero */

/*VIDEOS*/
.videos {
  background-color: black;
}

.VidQuestion {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}

@media (max-width: 768px) {
  .VidQuestion {
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 180%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*VIDEOS*/

/* Offer */
.Offer {
  background-color: black;
}

.OfferQuestion {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}

@media (max-width: 768px) {
  .OfferQuestion {
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 180%;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.iframe-container{
  width: 100%;
  height: 670px;
background-color: #00ffff;
}

#offeriframeid {
  width: 100%;
  height: 100%;
  border: none;
}

/* Offer */

/*Team*/
.Team {
  background-color: black;
}
.TeamHead {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}

/* box-sizing: inherit; */

.card-column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 600px) {
  .card-column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #000;
}

.card-container {
  padding: 0 16px;
  background-color: black;
  color: aliceblue;
  font-family: "Fira Sans", sans-serif;
}

.card-container::after,
.card-row::after {
  content: "";
  clear: both;
  display: table;
}

.card-title {
  color: grey;
  background-color: black;
}

.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.card-button:hover {
  background-color: #555;
}

.card-logo {
  justify-content: center;
  text-align: center;

  a:link {
    color: rgb(255, 255, 255);
  }

  a:visited {
    color: rgb(255, 255, 255);
  }

  a:hover {
    color: rgb(124, 124, 124);
  }

  a:active {
    color: rgb(35, 35, 35);
  }
}
/*Team*/

/*Future*/
.Future {
  background-color: black;
}
.FutureTitle {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}



.post__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}

.post__category {
  position: relative;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}

.post__category:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 4em;
  background-color: #12578f;
  animation: slide-in 1s ease-in both 0.5s;
}

.post__content {
  padding: 2em 0;
}

.post__time {
  display: inline-block;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.post__header {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 4em;
  font-weight: 900;
  line-height: 0.9;
}

.post__header span {
  display: inline-block;
  animation: slide-up 0.8s ease-in-out both;
}

.post__header span:nth-child(1) {
  animation-delay: 0.1s;
}

.post__header span:nth-child(2) {
  animation-delay: 0.2s;
}

.post__header span:nth-child(3) {
  animation-delay: 0.3s;
}

.post__text {            
  margin: 0;
  color: #a9b1b3;
  font-weight: 300;
  animation: fade-in 0.8s ease-in-out both 0.5s;
}

/* Animations */
@keyframes slide-in {
  0% {
      transform: translate3d(-100%, 0, 0);
  }

  100% {
      transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }

  90% {
      opacity: 1;
  }

  100% {
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/*New Images*/
.newsimg{
  width: 30vw;
  height: min-content;
}

/*Future*/

/*Contact*/
.Contact {
  background-color: black;
}
.ContactTitle {
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 300%;
  border-style: dotted none dotted none;
  border-color: rgb(57, 57, 57);
}

.contact-form {
  text-align: center;
}

.label-text-0 {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

.label-text {
  color: #9b9b9b;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  transform: translateY(-34px);
  /* Corrected syntax */
  transition: all 0.3s;
}

.contact-input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #424242b5;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

.contact-input:focus {
  max-width: 100%;
  width: 400px;
}

.contact-input:focus + .label-text {
  color: #f0f0f0;
  font-size: 13px;
  transform: translateY(-74px);
  /* Corrected syntax */
}

.contact-input:valid + .label-text {
  font-size: 13px;
  transform: translateY(-74px);
  /* Corrected syntax */
}

.contact-button {
  background-color: #333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

.contact-button:hover,
.contact-button:focus {
  background-color: white;
  color: #424242b5;
  outline: 0;
}
/*Contact*/
